#addressBookWidgetDiv,
#walletWidgetDiv {
    height: 228px;
    width: 100%;
}

#amazon_address > div {
  padding: 10px;
}

#deliveryOptionDiv {
  padding: 10px;
}

.amz_widget_overlay {
  background-color: rgba(255,255,255,0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}